auth_enabled: false

server:
  http_listen_port: {{ loki_port }}
  grpc_listen_port: 9096

common:
  instance_addr: 127.0.0.1
  storage:
    filesystem:
      chunks_directory: {{ loki_data_dir }}/chunks
      logs_directory: {{ loki_data_dir }}/logs
  ring:
    kvstore:
      store: inmemory
  replication_factor: 1
  path_prefix: {{ loki_data_dir }}

query_range:
  results_cache:
    cache:
      embedded_cache:
        enabled: true
        max_size_mb: 100

schema_config:
  configs:
    - from: 2020-10-24
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h

storage_config:
  filesystem:
    directory: {{ loki_data_dir }}
  boltdb:
    directory: {{ loki_data_dir }}/boltdb

compactor:
  working_directory: {{ loki_data_dir }}/compactor
  retention_enabled: true
  retention_deletes_delay: 2h
  retention_delete_worker_count: 1
  retention_delete_retry: true

limits_config:
  retention_period: {{ loki_retention_period }}
  max_query_length: 0
  max_query_parallelism: 16

server_log_level: warning
