.git
.github
.vscode
node_modules
npm-debug.log*
.next
dist
out
.env
.env.*
*.md
docs
tests
__tests__
*.test.*
*.spec.*
coverage
.idea
.DS_Store
*.log
Dockerfile
docker-compose*.yml
*.lock
package-lock.json
yarn.lock
